body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 72px;
    padding: 20px;
    min-width: 120px;
    border: 2px solid black;
    border-radius: 8px;
}

.operator-button, .equals-button{
    background-color: orange;
}

.num-button {
    background-color: grey;

}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 550px;
}

#calc {
    border: 30px solid brown;
    border-radius: 10px;
    background-color: brown;
}

#display {
    border: 8px solid black;
    border-radius: 5px;
    background-color: white;
    color: rgb(66, 66, 66);
    font-size: 100px;
    text-align: right;
    min-height: 120px;
}

#input-container {
    display: flex;
    align-items: stretch;
}

#operator-container {
    display: flex;
    flex-direction: column;
}

#clear-button {
    background-color: black;
    color: white;
}

#backspace-button {
    font-family: 'Material Icons';
    white-space: nowrap;
    direction: ltr;
}

#top-row {
    display: flex;
    justify-content: space-between;
}